.card {
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.card-img-top {
    border-radius: 8px 8px 0 0;
}

.card-body h6 {
    font-weight: bold;
}

.card-body p {
    font-size: 14px;
    color: #333;
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
}